body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #0d1b2a;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #0d1b2a;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

h1, h2 {
    color: #1b263b;
}
.title{
    color: white;
}
a {
    color: #0077b6;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.container {
    max-width: 800px;
    margin: auto;
}